absl-py==2.1.0
accelerate==0.32.1
aiohttp==3.9.5
aiosignal==1.3.1
anndata==0.10.8
array_api_compat==1.7.1
asttokens==2.4.1
attrs==23.2.0
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.3.2
chex==0.1.82
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
communities==3.0.0
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
datasets==2.20.0
debugpy==1.8.2
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
einops==0.8.0
etils==1.9.2
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.15.4
flax==0.7.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
gcsfs==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-auth==2.32.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
h5py==3.11.0
huggingface-hub==0.23.4
idna==3.7
igraph==0.11.6
importlib_metadata==8.0.0
importlib_resources==6.4.0
ipykernel==6.29.5
ipython==8.26.0
jax==0.4.14
jaxlib==0.4.14+cuda12.cudnn89
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
legacy-api-wrap==1.4
leidenalg==0.10.2
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_collections==0.1.1
ml-dtypes==0.4.0
mlxu==0.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
natsort==8.4.0
nest_asyncio==1.6.0
networkx==3.3
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.5.16
packaging==24.1
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pynndescent==0.5.13
pyparsing==3.1.2
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
safetensors==0.4.3
scanpy==1.10.2
scikit-learn==1.5.1
scipy==1.12.0
seaborn==0.13.2
sentry-sdk==2.9.0
session_info==1.0.0
setproctitle==1.3.3
setuptools==70.2.0
six==1.16.0
smmap==5.0.1
stack-data==0.6.2
statsmodels==0.14.2
stdlib-list==0.10.0
sympy==1.13.0
tensorstore==0.1.63
texttable==1.7.0
threadpoolctl==3.5.0
timm==1.0.7
tokenizers==0.19.1
toolz==0.12.1
torch==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.0
triton==2.3.1
typing_extensions==4.12.2
tzdata==2024.1
umap==0.1.1
umap-learn==0.5.6
urllib3==2.2.2
wandb==0.17.4
wcwidth==0.2.13
wheel==0.43.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.19.2
